* {
    margin: 0px;
    padding: 0px;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgb(10, 10, 10);
}

table {
    border: rgb(65, 65, 65) solid 1px;
    padding: 18px;
    border-radius: 5%;
    background-color: black;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: none;
    margin: 2px;
    font-size: 30px;
    font-weight: 250px;
}

.inputStyle {
    border: none;
    width: 250px;
    height: 50px;
    font-size: 50px;
    text-align: right;
    background-color: black;
    color: white;
    font-weight: 100;
}

.ceroButton {
    width: 97%;
    text-align: left;
    padding-left: 25px;
}

.lightgreyButton {
    background-color: #a6a6a6;
}

.darkButton {
    color: white;
    background-color: #333333;
}

.orangeButton {
    background-color: #ff9501;
    color: white;
}

::-webkit-input-placeholder {
    color: white;
}